.carousel__container__outer {
  display: flex;
  width: max-content;
  height: max-content;
  /* height: 100%; */
  /* max-width: 100%; */
  /* overflow: hidden; */

  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.carousel__container__inner {
  display: flex;
  flex-direction: column;
  gap: 0 rem;
  /* @apply border; */
  align-items: center;
  justify-items: center;
  width: 100%;
  box-sizing: border-box;
}

.carousel__nav {
  -webkit-user-select: all;
  user-select: all;
  pointer-events: auto;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  gap: 0.5rem;
  height: 122px;
  /* padding: 0.125rem; */
  border-radius: 0.25rem;
  width: 1.25rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-mid);
}

.carousel__items {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  align-items: center;
}
.carousel__header__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.carousel__header__container h2 {
  text-transform: uppercase;
  height: 40px;
  text-align: left;
}

.carousel__header__nav {
  display: flex;
  align-items: flex-start;
  gap: 13px;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.5rem;
  flex-wrap: wrap;
}
.carousel__ .carousel__header__nav a {
  display: black;
}

.carousel__card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 196px;
  height: 247px;
  gap: 142px;
}

@media (max-width: 650px) {
  .carousel__container__outer {
    width: 100%;
  }

  .carousel__container__inner {
    width: 100%;
    padding: 0px 10px;
  }

  .carousel__items {
    display: grid;
    /* width: 100%; */
    grid-template-columns: repeat(2, 1fr);
  }

  .carousel__header__nav a {
    display: none;
  }

  .carousel__header__nav {
    justify-content: center;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
  }
  .carousel__card {
    width: auto;
  }
  .carousel__header__container h2 {
    text-align: center;
  }
  /* height: 247px; */
}
