.checkout__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;

  /* @apply border; */
  /* height: 100%; */
  /* padding: 10px 0px; */
}

.checkout__product__container__layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;
  /* align-items: flex-start; */
  padding: 0px;
}

.checkout__pos__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* width: 700px; */
  /* max-width: 1500px; */
  /* margin-left: 30px; */
  /* mx-[25px] sm:mx-[63px] */
  @apply: border-3;
  @apply: border-color-red;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
}

.checkout__pos__image {
  position: relative;
  width: 100%;
  height: 400px;
  transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
}

.checkout__pos__promos {
  display: flex;
  padding: 0px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.checkout__product__image {
  position: relative;
  min-width: 500px;
  min-height: 400px;
  height: 100%;
  /* height: auto; */
  flex: 1;
  width: 500px;
  /* background-color: red; */
  /* display: flex; */
  transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
}

@media (max-width: 1600px) {
  .checkout__product__container__layout {
    flex-direction: column;
    /* max-width: 600px; */
  }
  .checkout__pos__container {
    /* width: 1800px; */
  }
  .checkout__pos__image,
  .checkout__product__image {
    width: 100%;
    min-width: 0px;
    min-height: 500px;
  }
}
@media (max-width: 1200px) {
  .checkout__pos__container {
    width: auto;
  }
}

@media (max-width: 950px) {
  .checkout__pos__promos {
    /* display: none; */
  }

  /* .checkout__pos__image,
  .checkout__product__image {
    height: 500px;
    width: 100%;
  } */

  .checkout__container {
    flex-direction: column;
  }
}
