.footer__container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer__categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 24px;

  justify-content: center;
  justify-items: center;
  /* width: 80%; */
  margin: 0px 0px;
  padding: 0px 0px;
  max-width: 100%;
  /* width: auto; */

  /* max-width: 1200px; */
  padding: 24px 70px 0px 120px;
}

.footer__byline {
  border-color: var(--color-gray-mid);
  border-top-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
  width: 100%;
}

@media (max-width: 1000px) {
  .footer__categories {
    /* width: 800px; */
    /* padding: 24px 70px; */
  }
}

@media (max-width: 650px) {
  .footer__categories {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 24px 20px 0px 50px;
  }
}
