#header_bar .header__nav {
  display: flex;
}

#header_bar .header__menu,
#header_bar .header__heart_left,
#header_bar .header__searchbar_bottom,
#header_bar .header__searchbutton,
#header_bar .header__profile_center {
  display: none;
}
#header_bar .header__heart_right,
#header_bar .header__searchbar_right {
  display: block;
}
.header__nav_small {
  display: none;
}
.dropdown__mobile__root {
  display: none;
}
.dropdown__container {
  display: flex;
  flex-direction: row;
  background-color: var(--color-white);
  width: 100%;
  height: 200px;
}

.dropdown__image {
  display: block;
}

.dropdown__mobile__container > :first-child {
  padding: 40px 10px 20px 10px;
}

@media (max-width: 900px) {
  #header_bar .header__searchbar_bottom,
  #header_bar .header__heart_left,
  #header_bar .header__searchbutton,
  #header_bar .header__profile_center {
    display: block;
  }
  #header_bar .header__nav,
  #header_bar .header__logo_left,
  #header_bar .header__heart_right,
  #header_bar .header__searchbar_right {
    display: none;
  }
  .header__nav_small {
    display: block;
  }
}

.dropdown__mobile__container {
  /* display: none; */
}
.dropdown__mobile__container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  /* gap: 60px; */
  /* padding: 10px 0px; */
}

.dropdown__mobile__sections {
  width: 100%;
  display: flex;
}
.dropdown__mobile__row__container {
  display: flex;
  /* gap:10px; */
  padding: 30px 10px;
  /* justify-content: space-between; */
  /* flex-direction: row; */
}

.dropdown__sections {
  display: flex;
  padding-bottom: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 65px;
  flex: 1 0 0;
  align-self: stretch;
  display: flex;
  padding: 27px 90px 32px 90px;
  flex: 1 0 0;
}

.dropdown__column__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  width: 120px;
}

.dropdown__column__items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
  opacity: 85%;
}

.dropdown__sidemenu__container {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: var(--color-text-mid2);
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  min-width: 230px;
  width: 300px;
}

.dropdown__sidemenu__nav {
  display: flex;
  flex-direction: column;
  gap: 11px;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 32px;
  width: 100%;
  flex: 1;
}

.dropdown__sidemenu__region {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: var(--color-text-mid2);
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 32px;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  /* .dropdown__sections {
    padding: 27px 0 30px 35px;
    gap: 40px;
  } */
}

@media (max-width: 1150px) {
  .dropdown__image {
    display: none;
  }
  .dropdown__container {
    flex-direction: column;
    height: 100%;
  }
  .dropdown__sections {
    align-items: space-between;
    justify-content: space-between;
    padding: 27px 75px 30px 75px;
    gap: 30px;
    /* max-width: 90%; */
  }
  .dropdown__sidemenu__container {
    border-width: 1px 0px 0px 0px;
    flex-direction: row;
    width: 100%;

    position: relative;

    padding: 0px;
  }
  .dropdown__sidemenu__nav {
    flex-direction: row;
    gap: 20px;
    padding: 16px 232px 16px 32px;
  }
  .dropdown__sidemenu__region {
    position: absolute;
    right: 0px;
    border-width: 0px 0px 0px 1px;
    width: 200px;
    height: 100%;
    padding: 0px 32px;
    box-sizing: border-box;

    /* flex: 1 1 auto; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 650px) {
  .dropdown__mobile__root {
    display: block;
  }

  .dropdown__container {
    display: none;
  }

  /* .dropdown__mobile__container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    gap: 60px;
    padding: 56px 32px;
  } */
  .header__nav_small {
    display: none;
  }
  #header_bar .header__menu {
    display: block;
  }
}
