.pulldown__container {
  padding: 60px 10px 30px 10px;
}

@media (max-width: 900px) {
  .pulldown__container {
    padding: 60px 10px 30px 10px;
    gap: 30px;
  }
}
@media (max-width: 650px) {
  .pulldown__container {
    padding: 60px 10px 30px 10px;
  }
}
