@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-gray-light: #464646;
  --color-gray-mid: #433f3f;
  --color-gray-darker: #191717;
  --color-on-black: #e8e8e8;
  --color-text-hard: #000000;
  --color-text-mid2: #848484;
  --color-text-onblack: #e8e8e8;
  --color-bg-red: #cf2727;
  --color-red: #cf2727;
  --color-white: #d9d9d9;
  --color-darker: #191717;
  --color-mid-grey-2: #433f3f;
}

@theme inline {
  /* --background: #0a0a0a; */
  /* --foreground: #ededed; */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-light: #464646;
  --color-gray-mid: #433f3f;
  --color-gray-darker: #191717;
  --color-on-black: #e8e8e8;
  --color-text-hard: #000000;
  --color-text-mid2: #848484;
  --color-text-onblack: #e8e8e8;
  --color-bg-red: #cf2727;
  --color-red: #cf2727;
  --color-white: #d9d9d9;
  --color-darker: #191717;
  --color-mid-grey-2: #433f3f;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-family-inter: var(--font-inter), "Inter", sans-serif;
  --font-family-kantumruy: "Kantumruy", var(--font-inter), sans-serif;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* @media (prefers-color-scheme: dark) {
  :root {
   
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), "Inter", sans-serif;
  width: 100%;
}

p {
  font-family: "Inter", san-serif;
  line-height: 1.27;
  font-weight: 400;
  font-size: 0.75rem;
  /* color: #000000; */
}

h3 {
  font-family: "Inter", san-serif;

  font-size: 1.125rem;
  white-space: nowrap;
  line-height: 1;
}

h2 {
  font-size: var(--text-2xl) /* 1.5rem = 24px */;

  font-weight: var(--font-weight-bold) /* 700 */;
  letter-spacing: 1px;
  line-height: 1;
}

h4 {
  font-family: "Inter", san-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold) /* 700 */;
}

.header-bold {
  color: var(--color-white);
  @apply font-bold;
  letter-spacing: 1.2px;
}
.header-light {
  color: var(--on-black);
  letter-spacing: 1.7px;
  @apply font-light;
}
.text-discount {
  color: var(--color-red);
  @apply line-through;
}

.font-inter {
  font-family: var(--font-inter), "Inter", sans-serif;
}

.font-kantumruy {
  font-family: "Kantumruy", var(--font-inter), "Inter", sans-serif;
}
.bg-fiber {
  background-image: url("/assets/gallery/bg/fibre_tex_titled_2.webp");
  background-size: 100px;
  background-repeat: repeat;
}
.bg-fiber-w {
  background-image: url("/assets/gallery/bg/fibre_tex_titled_white.webp");
  background-size: 100px;
  background-repeat: repeat;
}
.bg-shoe-close {
  background-image: url("/assets/gallery/promo/shoebanner.webp");
  /* background-size: 100px; */
  background-size: cover;
}

.no-select {
  user-select: none;
  pointer-event: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__state {
  border-width: 0.125rem;
  letter-spacing: var(--tracking-widest);
  border-color: var(--color-text-mid2);
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 1rem;
  border-radius: var(--radius-lg);
}

.button__state__inactive {
  background-color: var(--color-text-hard);
  cursor: pointer;
}

.button__state__active {
  color: var(--onblack, #e8e8e8);
  background-color: var(--color-mid-grey-2);
  opacity: 80%;
}

.button__border {
  border-color: var(--color-neutral-500);
  border-radius: var(--radius-lg);
  border-style: var(--tw-border-style);
  border-width: 1px;
  color: var(--color-white);

  @apply transition-all;

  cursor: pointer;
}
.button__bg__black {
  @apply hover:bg-gray-darker;
  background-color: var(--color-black);
}
.button__bg_red {
  background-color: var(--color-red);
  border-color: var(--color-red-800);
}

.text_black {
  color: #191717;
}

.list__container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  align-items: flex-start;
  width: 120px;
}

.list__container h3 {
  height: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-weight: 700;
  user-select: none;
  pointer-event: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.list__items__container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  opacity: 80%;
  width: 100%;
}

.list__item {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 0.75rem;
  align-items: center;
  width: 100%;
  user-select: none;
  pointer-event: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.my-select {
  appearance: none;
  -webkit-appearance: none; /* Chrome / Safari / modern browsers */
  -moz-appearance: none; /* Firefox */
  /* optionally, reset background, border, padding etc. */
  background: transparent;
  padding-right: 1.5em; /* leave space if you plan to add custom arrow */
  /* other styling as needed */
}

/* For IE / older browsers — hide the expand arrow */
.my-select::-ms-expand {
  display: none;
}
