@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-gray-mid: #433f3f;
  --color-gray-darker: #191717;
  --color-on-black: #e8e8e8;
  --color-text-hard: #000000;
  --color-text-mid2: #848484;
  --color-text-onblack: #e8e8e8;
  --color-bg-red: #cf2727;
  --color-red: #cf2727;
  --color-white: #d9d9d9;
  --color-darker: #191717;
  --color-mid-grey-2: #433f3f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-gray-mid: #433f3f;
  --color-gray-darker: #191717;
  --color-on-black: #e8e8e8;
  --color-text-hard: #000000;
  --color-text-mid2: #848484;
  --color-text-onblack: #e8e8e8;
  --color-bg-red: #cf2727;
  --color-red: #cf2727;
  --color-white: #d9d9d9;
  --color-darker: #191717;
  --color-mid-grey-2: #433f3f;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-family-inter: var(--font-inter), "Inter", sans-serif;
  --font-family-kantumruy: "Kantumruy", var(--font-inter), sans-serif;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), "Inter", sans-serif;
  width: 100%;
}

p {
  font-family: "Inter", san-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 0.75rem;
  /* color: #000000; */
}

h3 {
  font-family: "Inter", san-serif;

  letter-spacing: 1.26px;

  font-size: 1.125rem;
  white-space: nowrap;
}

.font-inter {
  font-family: var(--font-inter), "Inter", sans-serif;
}

.font-kantumruy {
  font-family: "Kantumruy", var(--font-inter), "Inter", sans-serif;
}

.no-select {
  user-select: none;
  pointer-event: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.text_white {
  color: var(--onblack, #e8e8e8);
}

.text_black {
  color: #191717;
}

.list__container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  align-items: flex-start;
  width: 120px;
}

.list__container h3 {
  height: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-weight: 700;
  user-select: none;
  pointer-event: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.list__items__container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  opacity: 80%;
  width: 100%;
}

.list__item {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 0.75rem;
  align-items: center;
  width: 100%;
  user-select: none;
  pointer-event: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
