@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-mid: #433f3f;
  --color-gray-darker: #191717;
  --color-on-black: #e8e8e8;
  --color-text-hard: #000000;
  --color-text-mid2: #848484;
  --color-text-onblack: #e8e8e8;
  --color-bg-red: #cf2727;
  --color-red: #cf2727;
  --color-white: #d9d9d9;
  --color-darker: #191717;
  --color-mid-grey-2: #433f3f;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-family-inter: var(--font-inter), "Inter", sans-serif;
  --font-family-kantumruy: "Kantumruy", var(--font-inter), sans-serif;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), "Inter", sans-serif;
}

.font-inter {
  font-family: var(--font-inter), "Inter", sans-serif;
}

.font-kantumruy {
  font-family: "Kantumruy", var(--font-inter), "Inter", sans-serif;
}

.no-select {
  user-select: none;
  pointer-evenet: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h3 {
  color: var(--onblack, #e8e8e8);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#header_bar .header__nav {
  display: flex;
}

#header_bar .header__menu,
#header_bar .header__heart_left,
#header_bar .header__searchbar_bottom,
#header_bar .header__searchbutton,
#header_bar .header__profile_center {
  display: none;
}
#header_bar .header__heart_right,
#header_bar .header__searchbar_right {
  display: block;
}

@media (max-width: 900px) {
  #header_bar .header__menu,
  #header_bar .header__searchbar_bottom,
  #header_bar .header__heart_left,
  #header_bar .header__searchbutton,
  #header_bar .header__profile_center {
    display: block;
  }
  #header_bar .header__nav,
  #header_bar .header__logo_left,
  #header_bar .header__heart_right,
  #header_bar .header__searchbar_right {
    display: none;
  }
}
